<div class="container">
  <%= link_to "新規投稿", new_post_path  %>
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/tagsearches/sidebar' %>
    </div>
    <%= render 'index', posts: @posts %>
  </div>
</div>