<footer class="fixed-bottom mx-auto">
  <div class='container mt-3'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="text-light">©Anglers_NAVI</p>
    	</div>
    </div>
  </div>
</footer>